/* You can add global styles to this file, and also import other style files */

.bg-gradient-image {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('./assets/img/theme/Iontas_Daylight.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  // filter: blur(15px);
}
.btn-link {
  &:hover {
    cursor: pointer;
  }
  &:focus,
  &:active,
  &.focus {
    box-shadow: none !important;
  }
}
.pointer {
  cursor: pointer !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-label:after {
  background: no-repeat 50%/50% 50%;
}
select {
  text-rendering: auto !important; // Potential fix for dropdown to safari 14 changes
}
.close.danger,
.close.hover-danger:hover {
  &:not(:disabled) > span:not(.sr-only),
  &:not(:disabled) > i {
    color: #d0021b;
  }
}

.tooltip-inner {
  max-width: 300px;
}
@for $i from 1 through 300 {
  .width-#{$i} {
    > .tooltip-inner {
      width: #{$i}px;
    }
  }
}

.table {
  color: #222;
}
.footer {
  padding: 1.5rem 0;
}
.navbar-vertical.navbar-expand-md .navbar-brand-img,
.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-height: 4rem;
}
.navbar-horizontal .navbar-brand img {
  height: 60px;
}

.dropdown,
.dropup,
.dropright,
.dropleft {
  display: inherit;
}
.dropdown-menu {
  width: 100%;
  border: thin grey solid;
  border-radius: 0;
  // box-shadow: none;
  > li > a {
    color: #8898aa;
  }
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  border-radius: 0;
  font-size: 0.875rem;
  &.ng-option-selected,
  &.ng-option-selected.ng-option-marked {
    &:last-child {
      border-radius: 0;
    }
  }
}
.ng-dropdown-footer {
  border-radius: 0;

  font-size: 0.875rem;
}

.accordion > .card {
  overflow: inherit;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  color: #525f7f;
}
.handsontable th {
  color: #fff;

  background-color: #a53d36;
  & .handsontable td {
    color: #222;
  }
}
.handsontable tbody th.ht__highlight,
.handsontable thead th.ht__highlight {
  color: #fff;

  background-color: #c3999d;
}
.handsontable tbody th.ht__active_highlight,
.handsontable thead th.ht__active_highlight {
  color: #000;

  background-color: #f0b428;
}
.handsontable td.area:before,
.handsontable td.area-1:before,
.handsontable td.area-2:before,
.handsontable td.area-3:before,
.handsontable td.area-4:before,
.handsontable td.area-5:before,
.handsontable td.area-6:before,
.handsontable td.area-7:before {
  background: #1079ab;
  background-color: rgb(16, 121, 171);
}
.handsontable th.beforeHiddenColumn::after,
.handsontable th.afterHiddenColumn::before {
  color: #000;
}

.handsontable {
  .table {
    td {
      // white-space: normal;
      word-wrap: break-word;
      & > a {
        display: block;
      }
    }
    thead th {
      font-size: 0.8125rem;
    }
  }
  .htDimmed {
    color: #222;
  }
}

.text-burgundy {
  color: #a53d36;
}
.text-marigold {
  color: #f0b428;
}

.toast-container .ngx-toastr {
  box-shadow: none;
  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 768px) {
  html:not(.auth-layout) .main-content {
    margin-left: 0;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}
// @media (min-width: 768px) {
//   .navbar-vertical.navbar-expand-md .navbar-brand,
//   .navbar-brand-img {
//     max-height: 4rem;
//     padding-bottom: 0rem;
//   }
//   .navbar-vertical.navbar-expand-md {
//     // width: 15vw;
//     z-index: 99;
//     animation: width ease-in-out 0.3s;
//   }
// }
