/* You can add global styles to this file, and also import other style files */
/* Formula for TranslateX Conversion:
    left - (100-width)/2
*/
@keyframes increase {
  from {
    transform: translateX(-52.5%) scaleX(.05);
  }
  to {
    transform: translateX(130%) scaleX(1);
  }
}
@keyframes decrease {
  from {
    transform: translateX(-90%) scaleX(.8);
  }
  to {
    transform: translateX(65%) scaleX(.1);
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

// Start of Progress Bar
.slider {
  position: fixed;
  z-index: 999;

  width: 100%;
  height: 7.5px;
  overflow-x: hidden;
}

.line {
  position: absolute;

  width: 100%;
  height: 7.5px;

  background: rgba(255, 255, 255, .5);

  // opacity: .4;
}
.blink {
  animation: blinker .25s linear infinite;
}

.subline {
  position: absolute;

  width: 100%;
  height: 10px;
}

.blue {
  background: #0a67b2;
}

.red {
  background: #9c2329;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s .5s infinite;
}
// End of Progress Bar styling
.spinner-border {
  display: inline-block;
  width: .875rem;
  height: .875rem;

  vertical-align: middle;

  border: .2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;

  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border 1s linear infinite;
}

.spinner-grow {
  display: inline-block;
  width: .875rem;
  height: .875rem;

  vertical-align: middle;

  background-color: currentColor;
  border-radius: 50%;

  -webkit-animation: spinner-grow .75s linear infinite;
          animation: spinner-grow .75s linear infinite;

  opacity: 0;
}
body {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: rgba(77, 77, 77, 1);
}

.main-text {
  color: rgba(0, 153, 153, 1);
}
.sub-text {
  color: rgba(239, 174, 30, 1);
}

.bg-gradient {
  background: rgba(0, 153, 153, 1);
  background:    -moz-linear-gradient(left, rgba(0, 153, 153, 1) 0%, rgba(0, 153, 153, 1) 13%, rgba(10, 102, 178, 1) 100%);
  background: -webkit-gradient(
  left top,
  right top,
  color-stop(0%, rgba(0, 153, 153, 1)),
  color-stop(13%, rgba(0, 153, 153, 1)),
  color-stop(100%, rgba(10, 102, 178, 1))
  );
  background: -webkit-linear-gradient(
  left,
  rgba(0, 153, 153, 1) 0%,
  rgba(0, 153, 153, 1) 13%,
  rgba(10, 102, 178, 1) 100%
  );
  background:      -o-linear-gradient(left, rgba(0, 153, 153, 1) 0%, rgba(0, 153, 153, 1) 13%, rgba(10, 102, 178, 1) 100%);
  background:     -ms-linear-gradient(left, rgba(0, 153, 153, 1) 0%, rgba(0, 153, 153, 1) 13%, rgba(10, 102, 178, 1) 100%);
  background:         linear-gradient(to right, rgba(0, 153, 153, 1) 0%, rgba(0, 153, 153, 1) 13%, rgba(10, 102, 178, 1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009999', endColorstr='#0a66b2', GradientType=1 );
}

.gradient-bg {
  fill: url(#header-shape-gradient) #fff;
}

#header-shape-gradient {
  --color-bot: rgba(10, 102, 178, 1);
  --color-stop: rgba(0, 153, 153, 1);
}

.bg-gradient-image {
  background-image: linear-gradient(
  rgba(0, 0, 0, .3) 0%,
  rgba(0, 0, 0, .2) 50%,
  rgba(0, 0, 0, .1) 75%,
  rgba(0, 0, 0, 0) 100%
  ),
  url('./assets/img/theme/Iontas_Daylight.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  // filter: blur(15px);
}

.btn-link {
  &:hover {
    cursor: pointer;
  }
  &:focus, &:active, &.focus {
    box-shadow: none !important;
  }
}
.pointer {
  cursor: pointer !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3E%3Cpath fill=\'%23fff\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z\'/%3E%3C/svg%3E');
}
.custom-control-label:after {
  background: no-repeat 50%/50% 50%;
}
[class*='btn-outline-'] {
  &:hover .custom-toggle {
    input:checked + .custom-toggle-slider {
      border: 1px solid #fff;
      &:before {
        background-color: #fff;
      }
    }
  }
}

.btn-outline-default {
  .custom-toggle input:checked + .custom-toggle-slider {
    border: 1px solid #9c2329;
    &:before {
      background: #9c2329;
    }
  }
}

.custom-toggle {
  position: relative;

  display: inline-block;
  width: 16px;
  height: .65rem;

  input {
    & + .custom-toggle-slider:before {
      border: .25px solid #fff;
    }
    &:checked + .custom-toggle-slider:before {
      transform: translateX(.365rem);
    }
  }

  .custom-toggle-slider {
    &:before {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 8px;
      height: 8px;

      content: '';

      background-color: #e9ecef;
      border-radius: 50% !important;

      transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    }
  }
}

select {
  text-rendering: auto !important; // Potential fix for dropdown to safari 14 changes
}

.text-danger, .close.danger, .close.hover-danger:hover {
  &:not(:disabled) > span:not(.sr-only), &:not(:disabled) > i {
    color: #d0021b !important;
  }
}

.text-success {
  color: #099 !important;
}

.tooltip-inner {
  max-width: 300px;
}
@for $i from 1 through 300 {
  .width-#{$i} {
    > .tooltip-inner {
      width: #{$i}px;
    }
  }
}

.main {
  background: rgba(255, 255, 255, 1);
  background:    -moz-linear-gradient(
  0deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(229, 230, 230, 1) 75%,
  rgba(220, 221, 222, 1) 100%
  );
  background: -webkit-gradient(
  left bottom,
  right top,
  color-stop(0%, rgba(255, 255, 255, 1)),
  color-stop(75%, rgba(229, 230, 230, 1)),
  color-stop(100%, rgba(220, 221, 222, 1))
  );
  background: -webkit-linear-gradient(
  0deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(229, 230, 230, 1) 75%,
  rgba(220, 221, 222, 1) 100%
  );
  background:      -o-linear-gradient(
  0deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(229, 230, 230, 1) 75%,
  rgba(220, 221, 222, 1) 100%
  );
  background:     -ms-linear-gradient(
  0deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(229, 230, 230, 1) 75%,
  rgba(220, 221, 222, 1) 100%
  );
  background:         linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(229, 230, 230, 1) 75%, rgba(220, 221, 222, 1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcddde', GradientType=1 );
}

.bg-secondary {
  background-color: rgba(247, 250, 252, .9) !important;

  backdrop-filter: blur(10px);
  &:hover {
    background-color: rgba(247, 250, 252, .7) !important;

    transition: background-color .3s ease-in-out;
  }
}

.table {
  color: #222;
}
.footer {
  padding: 1.5rem 0;

  background: transparent;
}
.navbar-vertical.navbar-expand-md .navbar-brand-img, .navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
  max-height: 4rem;
}
.navbar-horizontal .navbar-brand img {
  height: 60px;
}

.dropdown, .dropup, .dropright, .dropleft {
  display: inherit;
}
.dropdown-menu {
  width: 100%;

  border: thin grey solid;
  border-radius: 0;
  // box-shadow: none;
  // > li > a {
  //   color: #8898aa;
  //   &.dropdown-item {
  //     &:hover {
  //       color: rgba(255, 255, 255, 1);

  //       background-color: rgba(10, 103, 178, .75);
  //     }
  //     &:focus {
  //       color: rgba(255, 255, 255, 1);

  //       background-color: rgba(10, 103, 178, 1);
  //     }
  //   }
  // }
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-right: 5px;
  margin-bottom: 5px;

  color: rgba(255, 255, 255, 1);
  font-size: .9em;

  background-color: rgba(10, 103, 178, 1);
  border-radius: 3px;
  .ng-value-icon.right {
    border-left: 1px solid rgba(255, 255, 255, .5);
    &:hover {
      color: rgba(255, 255, 255, 1);

      background-color: rgba(255, 255, 255, .25);
    }
  }
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-size: .875rem;

  border-radius: 0;
  &.ng-option-selected, &.ng-option-selected.ng-option-marked {
    color: rgba(255, 255, 255, 1);

    background-color: rgba(10, 103, 178, 1);
    &:last-child {
      border-radius: 0;
    }
  }
  &.ng-option-marked {
    color: rgba(255, 255, 255, 1);

    background-color: rgba(10, 103, 178, .75);
  }
}
.ng-dropdown-footer {
  font-size: .875rem;

  border-radius: 0;
}

.accordion > .card {
  overflow: inherit;
}

.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  color: rgba(109, 110, 113, 1);
  font-size: .8125rem;
}

thead > tr th {
  height: 24px !important;
  > .filterHeader {
    height: 24px !important;
  }
}

.filterHeader > input {
  box-sizing: border-box;
  width: 100%;

  color: #222;
  text-align: center;
  text-overflow: ellipsis;

  border: none;
  border-bottom: thin solid rgba(0, 153, 153, .5);
  border-radius: 0;

  transition: border ease-in-out .3s, color ease-in-out .3s, background-color ease-in-out .3s;

  &:hover {
    border-bottom: thin solid rgba(0, 153, 153, 1);
  }
  &:focus {
    box-sizing: border-box;

    color: rgba(255, 255, 255, 1);

    background-color: rgba(239, 174, 30, 1);
    border-bottom: thin solid rgba(10, 102, 178, 1);
    outline: none;
  }
}

.handsontable th {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(156, 35, 41, 1);
  & .handsontable td {
    color: #222;
  }
}
.handsontable tbody th.ht__highlight, .handsontable thead th.ht__highlight {
  color: rgba(255, 255, 255, 1);

  background-color: #c3999d;
}
.handsontable tbody th.ht__active_highlight, .handsontable thead th.ht__active_highlight {
  color: #000;

  background-color: #f0b428;
}
.handsontable td.area:before, .handsontable td.area-1:before, .handsontable td.area-2:before, .handsontable td.area-3:before, .handsontable td.area-4:before, .handsontable td.area-5:before, .handsontable td.area-6:before, .handsontable td.area-7:before {
  background: rgba(10, 103, 178, 1);
  background-color: rgba(10, 103, 178, 1);
}
.handsontable th.beforeHiddenColumn::after, .handsontable th.afterHiddenColumn::before {
  color: #000;
}

.handsontable {
  .table {
    td {
      // white-space: normal;
      word-wrap: break-word;
      & > a {
        display: block;
      }
    }
    thead th {
      font-size: .8125rem;
    }
  }
  .htDimmed {
    color: #222;
  }
}
.text-muted {
  color: rgba(147, 149, 152, 1) !important;
}
.text-dark {
  color: rgba(0, 0, 0, 1) !important;
}
.text-burgundy {
  color: rgba(156, 35, 41, 1);
}
.text-marigold {
  color: rgba(239, 174, 30, 1);
}

.toast-container .ngx-toastr {
  box-shadow: none;
  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, .25);
  }
}
@media screen and (min-width: 768px) {
  html:not(.auth-layout) .main-content {
    margin-left: 0;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}
// @media (min-width: 768px) {
//   .navbar-vertical.navbar-expand-md .navbar-brand,
//   .navbar-brand-img {
//     max-height: 4rem;
//     padding-bottom: 0rem;
//   }
//   .navbar-vertical.navbar-expand-md {
//     // width: 15vw;
//     z-index: 99;
//     animation: width ease-in-out 0.3s;
//   }
// }
