# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Environment
.env

# npm
node_modules
package-lock.json
*.log
*.gz

# VSCode
.history/*

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# references
argon-dashboard-angular
argon-dashboard-react