.col, .table-card-container {
  // margin-top: 1.5rem;
  .card {
    width: 12vw;
    margin: 0 auto;
    .card-body {
      padding: .5rem;

      text-align: center;

      background-color: #fff;
    }
    .selection-row {
      background-color: rgba(0, 0, 0, .075);
    }
    #img-container {
      position: relative;

      .top {
        display: none;
      }
      &:hover {
        cursor: pointer;
        .top {
          display: inherit;
        }
        .bottom {
          display: none;
        }
      }
    }
  }
  a > div.card {
    &:hover .card-body {
      background-color: var(--secondary);
    }
    &:active .card-body {
      background-color: darken(#f7fafc, 5);
    }
  }
}

@media (max-width: 1199px) {
  .col, .table-card-container {
    .card {
      width: 25vw;
    }
  }
}
@media (max-width: 575px) {
  .col, .table-card-container {
    .card {
      width: 75vw;
    }
  }
}
