.col,
.table-card-container {
  // margin-top: 1.5rem;
  .card {
    width: 10vw;
    margin: 0 auto;
    .card-body {
      padding: 0.5rem;

      text-align: center;

      background-color: #fff;
    }
    .selection-row {
      background-color: rgba(0, 0, 0, 0.075);
    }
    #img-container {
      position: relative;

      .top {
        display: none;
      }
      &:hover {
        cursor: pointer;
        .top {
          display: inherit;
        }
        .bottom {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .col,
  .table-card-container {
    .card {
      width: 25vw;
    }
  }
}
