<div class="header bg-gradient-image pb-7 pt-4">
  <div class="container-fluid">
    <div class="header-body">
      <!-- <ng-container *ngIf="!pagination.table"> -->
      <div class="row">
        <div *ngFor="let table of tableData.tables.names; let key = index"
             class="col justify-content-around align-content-center table-card-container mb-3 col-12 col-sm-6 col-xl-3"
             [id]="'table-card-' + key">
          <a [routerLink]="['/tables/', table]"
             [queryParams]="{
                  page: 0,
                  limit: 100,
                  fprop: '',
                  fval: '',
                  dtable: table,
                  ctable: '',
                  search: false
                }">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-uppercase font-weight-bolder text-dark mb-0">
                  {{ table }}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- </ng-container> -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 pb-3 main">
  <!-- Table -->
  <app-table *ngIf="!(tableData.tables.names.indexOf(this.before) > -1 || this.after === 'search')"
             [before]="before"
             [after]="after"
             [edit]="false"></app-table>
  <app-table *ngIf="tableData.tables.names.indexOf(this.before) > -1 || this.after === 'search'"
             [before]="before"
             [after]="after"
             [edit]="this.after === 'search' ? false : true"></app-table>
</div>