<div class="row mb-3 mt-3">
  <div class="col">
    <div class="card shadow w-100">
      <div class="card-header border-0">
        <div class="card-title text-uppercase font-weight-bold mb-0">
          <h3 class="mb-0">
            {{ name | titlecase }}
          </h3>
          <h5>Sample Textual Unit</h5>
        </div>
        <div class="btn-group">
          <label class="btn btn-link text-dark" (click)="undo()">
            Undo
          </label>
          <label class="btn btn-link text-dark" (click)="redo()">
            Redo
          </label>
        </div>
      </div>
      <hot-table
        #hot
        [hotId]="instance"
        [columns]="columns"
        [rowHeaders]="getRows()"
        [colHeaders]="true"
        [data]="getTableData()"
        [settings]="hotSettings"
        [maxRows]="100"
        className="htCenter"
        licenseKey="non-commercial-and-evaluation"
        [id]="instance"
      >
      </hot-table>
      <div class="table-responsive">
        <table></table>
      </div>
    </div>
  </div>
</div>
