<p>
  <strong>
    Books
  </strong>
</p>
<p>
  Elliott Lash, Fangzhe Qiu, David Stifter (eds.),
  <a href="https://www.degruyter.com/document/doi/10.1515/9783110680744/html">
    <em>
      Morphosyntactic Variation in Medieval Celtic Languages. Corpus-based Approaches
    </em>
  </a>
  [= Trends in Linguistics. Studies and Monographs 346], Berlin: de Gruyter 2020. DOI:
  <a href="https://dx.doi.org/10.1515/9783110680744">
    https://dx.doi.org/10.1515/9783110680744
  </a>
</p>
<p>
  <strong>
    Conferences and workshops
  </strong>
</p>
<p>
  <em>
    Computational Linguistics and the Dating of Early Irish Texts
  </em>
  (Maynooth University, 16 December 2016).
</p>
<p>
  <em>
    Maynooth Spring Symposium on Computational and Corpus-based Linguistics
  </em>
  (Maynooth University, 4 April 2017).
</p>
<p>
  <em>
    Colloquium on Variation and Change in the Syntax and Morphology of Medieval Celtic Language
  </em>
  (Carton House, Maynooth, 13‒14 October 2017).
</p>
<p>
  <em>
    Statistics in Historical Corpus Linguistics
  </em>
  (Maynooth University, 4‒5 October 2019).
</p>
<p>
  &nbsp;
</p>
<p>
  <strong>
    Databases
  </strong>
</p>
<p>
  Elliott Lash,
  <em>
    The Minor Glosses Database
  </em>
  , in: Stifter et al. 2021, online at
  <a href="http://chronhib.maynoothuniversity.ie/chronhibWebsite/home">
    https://chronhib.ma
  </a>
  <a href="http://chronhib.maynoothuniversity.ie/chronhibWebsite/home">
    ynoothuniversity.ie
  </a>
</p>
<p>
  Fangzhe Qiu,
  <em>
    The Annals of Ulster Database
  </em>
  , in: Stifter et al. 2021, online at
  <a href="http://chronhib.maynoothuniversity.ie/chronhibWebsite/home">
    https://chronhib.maynoothuniversity.ie
  </a>
</p>
<p>
  Bernhard Bauer and Elliott Lash,
  <em>
    The Old Irish Bede Glosses Database
  </em>
  , in: Stifter et al. 2021, online at
  <a href="http://chronhib.maynoothuniversity.ie/chronhibWebsite/home">
    https://chronhib.maynoothuniversity.ie
  </a>
</p>
<p>
  Bernhard Bauer,
  <em>
    The online database of the Old Irish Priscian glosses
  </em>
  (v 2.0), in: Stifter et al. 2021, online at:
  <a href="http://chronhib.maynoothuniversity.ie/chronhibWebsite/home">
    https://chronhib.maynoothuniversity.ie
  </a>
</p>
<p>
  David Stifter, Bernhard Bauer, Elliott Lash, Fangzhe Qiu, Nora White, Siobh&aacute;n Barrett, Aaron Griffith, Romanas
  Bulatovas, Francesco Felici, Ellen Ganly, Truc Ha Nguyen, Lars Nooij,
  <em>
    Corpus Palaeohibernicum (CorPH)
  </em>
  v1.0, 2021, online at
  <a href="http://chronhib.maynoothuniversity.ie/chronhibWebsite/home">
    http://chronhib.maynoothuniversity.ie
  </a>
</p>
<p>
  <strong>
    Journal Articles
  </strong>
</p>
<p>
  Bernhard Bauer, "The Celtic Parallel Glosses on Bede&rsquo;s De Natura Rerum",
  <em>
    Peritia
  </em>
  31, 31&ndash;51. DOI:
  <a href="https://doi.org/10.1484/J.PERIT.5.120979">
    https://doi.org/10.1484/J.PERIT.5.120979
  </a>
</p>
<p>
  Bernhard Bauer, "
  <a href="https://journals.univie.ac.at/index.php/kf/article/view/3399">
    The interconnections of St Gall, Stiftsbibliothek, ms 251 with the Celtic Bede manuscripts
  </a>
  &rdquo;, in
  <em>
    Keltische Forschungen
  </em>
  8 (2019), 31&ndash;48. DOI:
  <a href="https://doi.org/10.25365/kf-8-2019-31-48">
    https://doi.org/
  </a>
  <a href="https://doi.org/10.25365/kf-8-2019-31-48">
    10.25365/kf-8-2019-31-48
  </a>
</p>
<p>
  Elliott Lash, "Princeton MS. Garrett 70 (1081-2) and other Regensburg Manuscripts as Witnesses to an Irish
  Intercessory Formula and the Linguistic Features of late-eleventh-century Middle Irish",
  <em>
    Peritia
  </em>
  31 (2020), 165&ndash;192.
</p>
<p>
  Elliott Lash, "
  <a href="http://mural.maynoothuniversity.ie/12920/">
    Transitivity and Subject Position in Old Irish
  </a>
  ",
  <em>
    Transactions of the Philological Society
  </em>
  118 (1) (2020), 94-140.
</p>
<p>
  Ellen Ganly, "
  <a href="https://muse.jhu.edu/article/781254/pdf">
    Commemoration or Corruption? The Feast-Days of Abb&aacute;n, Lomm&aacute;n and Ailbe
  </a>
  ",
  <em>
    The North American Journal of Celtic Studies
  </em>
  4 (2) (2020), 63-188.
</p>
<p>
  David, Stifter, "
  <a href="http://mural.maynoothuniversity.ie/12887/">
    <em>
      Old Irish lobur &lsquo;weak, sick&rsquo;
    </em>
  </a>
  ",
  <em>
    Zeitschrift f&uuml;r celtische Philologie
  </em>
  66 (2019), 177‒178. DOI:
  <a href="https://doi.org/10.1515/zcph-2019-0007">
    https://doi.org/10.1515/zcph-2019-0007
  </a>
</p>
<p>
  Elliott Lash, "
  <a href="http://mural.maynoothuniversity.ie/12911/">
    The Old Irish glosses in Bern, Burgerbibliothek, Cod. 207
  </a>
  ",
  <em>
    Keltische Forschungen
  </em>
  8 (2019), 1&ndash;5.
</p>
<p>
  Fangzhe Qiu, "
  <a href="http://mural.maynoothuniversity.ie/12899/">
    <em>
      Old Irish aue &ldquo;descendant&rdquo; and its descendants
    </em>
  </a>
  ",
  <em>
    Indogermanische Forschungen
  </em>
  124 (2019), 343&ndash;374. DOI:
  <a href="https://dx.doi.org/10.1515/if-2019-0013">
    https://dx.doi.org/10.1515/if-2019-0013
  </a>
</p>
<p>
  David Stifter and Siobh&aacute;n Barrett, "
  <a href="http://mural.maynoothuniversity.ie/12888/">
    <em>
      Blathmac&rsquo;s stanzas 260&ndash;303 on Judgement Day
    </em>
  </a>
  ",
  <em>
    Celtica
  </em>
  31 (2019), 19‒89.
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/11708/">
    <em>
      An apple a day...
    </em>
  </a>
  ",
  <em>
    Indogermanische Forschungen
  </em>
  124 (2019), 171‒218. DOI:
  <a href="https://doi.org/10.1515/if-2019-0006">
    https://doi.org/10.1515/if-2019-0006
  </a>
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/11409/">
    <em>
      In search of Old
    </em>
  </a>
  <a href="http://mural.maynoothuniversity.ie/11409/">
    <em>
      Irish
    </em>
  </a>
  ",
  <em>
    ISSUU
  </em>
  (2019), 64-65.
</p>
<p>
  Lars B. Nooij, &ldquo;Verslag: The Book of Ballycummin, RIA MS 23 N 10 Conference&rdquo;,
  <em>
    Kelten
  </em>
  79 (2019), 23‒25.
</p>
<p>
  Elliott Lash, "
  <a href="http://mural.maynoothuniversity.ie/12912/">
    A newly deciphered gloss on the Cadmug Gospels (Fulda, Landesbibliothek, MS Bonifatianus 3, folio 39a)
  </a>
  ",
  <em>
    Celtica
  </em>
  31 (2019), 1-4.
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/12915/">
    <em>
      The Middle Irish glosses of Marianus Scottus alias Muiredach mac Robartaig in the Vienna Cod.1247
    </em>
  </a>
  ",
  <em>
    Peritia
  </em>
  29 (2018), 227‒231. DOI:
  <a href="https://doi.org/10.1484/J.PERIT.5.118493">
    https://doi.org/10.1484/J.PERIT.5.118493
  </a>
</p>
<p>
  David Stifter, Aaron Griffith and Gregory Toner, "Early Irish Lexicography &ndash; A Research Survey",
  <em>
    Kratylos
  </em>
  63 (2018), 1&ndash;28. DOI:
  <a href="https://doi.org/10.29091/KRATYLOS/2018/1/1">
    https://doi.org/10.29091/KRATYLOS/2018/1/1
  </a>
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/11406/">
    <em>
      The stars look very different today
    </em>
  </a>
  ",
  <em>
    &Eacute;riu
  </em>
  68 (2018), 29&ndash;54.
</p>
<p>
  Bernhard Bauer, "
  <a href="http://mural.maynoothuniversity.ie/12919/">
    The Story of the Monk and the Devil
  </a>
  ",
  <em>
    Zeitschrift f&uuml;r Celtische Philologie
  </em>
  65 (2018), 1&ndash;27. DOI:
  <a href="https://doi.org/10.1515/zcph-2018-650102">
    https://doi.org/10.1515/zcph-2018-650102
  </a>
</p>
<p>
  Elliott Lash and Aaron Griffith, "
  <a href="http://mural.maynoothuniversity.ie/13223/">
    Coordinate Subjects, Expletives, and the EPP in Early Irish
  </a>
  ",
  <em>
    Journal of Celtic Linguistics
  </em>
  19 (2018), 87-156.
</p>
<p>
  Lars B. Nooij, "
  <a href="http://mural.maynoothuniversity.ie/12913/">
    The Irish Material in the Stowe Missal Revisited
  </a>
  ",
  <em>
    Peritia
  </em>
  29 (2018), 101-110. DOI:
  <a href="https://doi.org/10.1484/J.PERIT.5.118487">
    https://doi.org/10.1484/J.PERIT.5.118487
  </a>
</p>
<p>
  Lars B. Nooij, &ldquo;Het handboek van een priester&rdquo;,
  <em>
    Kelten
  </em>
  77 (2018), 8‒12.
</p>
<p>
  Ellen Ganly, "Investigating the Laois Origins of an Irish Saint: St. Abb&aacute;n",
  <em>
    Laois Heritage Society Journal
  </em>
  9 (2018), 55-63.
</p>
<p>
  Elliott Lash, "
  <a href="http://mural.maynoothuniversity.ie/10163/">
    A Quantitative Analysis of e/i Variation in Old Irish etar and ceta
  </a>
  ",
  <em>
    Eriu
  </em>
  67 (2017), 141-167.
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/10164/">
    <em>
      The Origin of Time
    </em>
  </a>
  ",
  <em>
    &Eacute;riu
  </em>
  67 (2017), 219&ndash;226. DOI:
  <a href="https://doi.org/10.3318/ERIU.2017.67.4">
    https://doi.org/10.3318/ERIU.2017.67.4
  </a>
</p>
<p>
  Bernhard Bauer, "
  <a href="http://mural.maynoothuniversity.ie/11219/">
    New and corrected MS readings of the Old Irish glosses in the Vienna Bede
  </a>
  ",
  <em>
    &Eacute;riu
  </em>
  67 (2017), 29&ndash;48. DOI:
  <a href="https://doi.org/10.3318/eriu.2017.67.1">
    https://doi.org/10.3318/eriu.2017.67.1
  </a>
</p>
<p>
  Fangzhe Qiu, "
  <a href="http://mural.maynoothuniversity.ie/7786/">
    <em>
      A Note on Comaccomol
    </em>
  </a>
  ",
  <em>
    Celtica
  </em>
  28 (2016), 185&ndash;201.
</p>
<p>
  Bernhard Bauer, "
  <a href="http://mural.maynoothuniversity.ie/8180/">
    Sg. 197b10 (= 197b31
  </a>
  <a href="http://mural.maynoothuniversity.ie/8180/">
    ee)
  </a>
  ",
  <em>
    Keltische Forschungen
  </em>
  7 (2015-16), 7-15.
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/7073/">
    <em>
      The Language of the Poems of Blathmac
    </em>
  </a>
  ", in: P. &Oacute; Riain (ed.),
  <em>
    The poems of Blathmac, son of C&uacute; Brettan: reassessments
  </em>
  , London: Irish Texts Society 2015, 47&ndash;103.
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  <strong>
    Book Chapters
  </strong>
</p>
<p>
  Fangzhe Qiu,
  <a href="https://www.academia.edu/45227557/Law_Law_Books_and_Tradition_in_Early_Medieval_Ireland">
    "Law, law-books and tradition in early medieval Ireland"
  </a>
  , in: Thom Gobbitt (ed.),
  <em>
    Law / book / culture in the Middle Ages
  </em>
  , Explorations in Medieval Culture 14, Leiden, Boston: Brill 2021, 126&ndash;146. DOI:
  <a href="https://dx.doi.org/10.1163/9789004448650_007">
    https://dx.doi.org/10.1163/9789004448650_007
  </a>
</p>
<p>
  David Stifter, "
  <a href="https://www.academia.edu/44688399/Insular_Celtic_Ogam">
    Insular Celtic: Ogam
  </a>
  ", in: Francisco Beltr&aacute;n Lloris, Borja D&iacute;az Ari&ntilde;o, Mar&iacute;a Jos&eacute; Estar&aacute;n Tolosa
  and Carlos Jord&aacute;n C&oacute;lera (eds.),
  <em>
    Proceedings of the International Conference &ldquo;Palaeo-european Languages and Epigraphic Cultures. Challenges and
    Research Approaches&rdquo; (Rome, March 13‒15, 2019). Actas del congreso internacional &ldquo;Lenguas y culturas
    epigr&aacute;ficas paleoeuropeas. Retos y perspectivas de estudio&rdquo; (Roma, 13‒15 marzo 2019)
  </em>
  [= Palaeohispanica 20], Zaragoza: Instituci&oacute;n Fernando el Cat&oacute;lico 2020, 855‒885.
</p>
<p>
  David Stifter and Fangzhe Qiu, "
  <a
     href="https://www.academia.edu/44382784/Chronologicon_Hibernicum_Fr&aacute;ma&iacute;ocht_Dh&oacute;ch&uacute;la&iacute;och_chun_D&aacute;t&uacute;_a_Dh&eacute;anamh_ar_Fhorbairt&iacute;_i_dTeanga_na_Sean_Ghaeilge_pre_print_">
    Chronologicon Hibernicum: Fr&aacute;ma&iacute;ocht Dh&oacute;ch&uacute;la&iacute;och chun D&aacute;t&uacute; a
    Dh&eacute;anamh ar Fhorbairt&iacute; i dTeanga na Sean-Ghaeilge
  </a>
  ", in:
  <em>
    T&eacute;ama&iacute; agus Tionscadail Taighde. In eagar ag Eoghan &Oacute; Raghallaigh
  </em>
  [= L&eacute;achta&iacute; Cholm Cille 50], M&aacute; Nuad: An Sagart 2020, 39‒59.
</p>
<p>
  Elliott Lash, Fangzhe Qiu and David Stifter, "
  <a
     href="https://www.degruyter.com/document/doi/10.1515/9783110680744-001/html#:~:text=This%20book%20showcases%20the%20state,to%20process%2Fanalyse%20the%20data.">
    Introduction: Celtic Studies and Corpus Linguistics
  </a>
  ", in: Elliott Lash, Fangzhe Qiu and David Stifter (eds.),
  <a href="http://mural.maynoothuniversity.ie/13577/">
    <em>
      Morphosyntactic Variation in Medieval Celtic Languages. Corpus-based Approaches
    </em>
  </a>
  [= Trends in Linguistics. Studies and Monographs 346], Berlin: de Gruyter 2020, 1‒12.
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/12916/">
    <em>
      Old Ir
    </em>
  </a>
  <a href="http://mural.maynoothuniversity.ie/12916/">
    <em>
      ish Etymology through the Ages
    </em>
  </a>
  ", in: Deborah Hayden (ed.),
  <em>
    The History of Linguistic Ideas in Medieval Ireland and Wales. Proceedings of the 2018 Colloquium of the Henry Sweet
    Society in Memory of Professor Anders Ahlqvist
  </em>
  [= Language and History 63/1 (2020)], Abingdon: Taylor &amp; Francis 2020, 24‒46. DOI:
  <a href="https://doi.org/10.1080/17597536.2019.1706130">
    https://doi.org/10.1080/17597536.2019.1706130
  </a>
</p>
<p>
  Fangzhe Qiu, "
  <a href="http://mural.maynoothuniversity.ie/12909/">
    The first judgement in Ireland
  </a>
  ", in: Pamela O&rsquo;Neill and Anders Ahlqvist (eds.),
  <em>
    F&iacute;r Fesso: a Festschrift for Neil McLeod
  </em>
  . [= Sydney Series in Celtic Studies 17], Sydney: University of Sydney 2018, 185&ndash;201.
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/12891/">
    <em>
      An Early Irish Poetic Formula
    </em>
  </a>
  ", in: Pamela O&rsquo;Neill and Anders Ahlqvist (eds.),
  <em>
    F&iacute;r Fesso: a Festschrift for Neil McLeod
  </em>
  . [= Sydney Series in Celtic Studies 17], Sydney: University of Sydney 2018, 223&ndash;232.
</p>
<p>
  David Stifter, Fangzhe Qiu, Bernhard Bauer, Elliott Lash, and Tianbo Ji, "
  <a href="http://mural.maynoothuniversity.ie/11402/">
    <em>
      Chronologicon Hibernicum: A Probabilistic Chronological Framework for Dating Early Irish Language Developments and
      Literature
    </em>
  </a>
  ", in: Marinos Ioannides, Eleanor Fink, Raffaella Brumana, Petros Patias, Anastasios Doulamis, Jo&atilde;o Martins,
  Manolis Wallace (eds.),
  <em>
    Digital Heritage. Progress in Cultural Heritage: Documentation, Preservation, and Protection
  </em>
  , 7th International Conference, EuroMed 2018, Nicosia, Cyprus, October 29 &ndash; November 3, 2018. Proceedings, Part
  I [= Lecture Notes in Computer Science 11196], Cham: Springer Nature Switzerland 2018, 731&ndash;740. DOI:
  <a href="https://doi.org/10.1007/978-3-030-01762-0_65">
    https://doi.org/10.1007/978-3-030-01762-0_65
  </a>
</p>
<p>
  Fangzhe Qiu, "
  <a href="https://www.academia.edu/35137487/The_Ulster_Cycle_in_the_law_tracts">
    The Ulster Cycle in the law tracts
  </a>
  ", in: M&iacute;che&aacute;l &Oacute; Mainnin (ed.),
  <em>
    Ulidia 4. Proceedings of the fourth international conference on the Ulster Cycle of Tales
  </em>
  , Dublin: Four Courts Press 2017, 9&ndash;22.
</p>
<p>
  David Stifter, "
  <a href="https://www.academia.edu/41720032/The_Phonology_of_Celtic">
    The Phonology of Celtic
  </a>
  ", in: Jared S. Klein, Brian Joseph and Matthias Fritz (eds.),
  <em>
    Handbook of Comparative and Historical Indo-European Linguistics. An International Handbook
  </em>
  [= Handb&uuml;cher zur Sprach- und Kommunikationswissenschaft 41/2], Berlin &ndash; New York: Walter de Gruyter 2017,
  1188&ndash;1202. DOI:
  <a href="https://doi.org/10.1515/9783110523874-023">
    https://doi.org/10.1515/9783110523874-023
  </a>
</p>
<p>
  Bauer, Bernhard (2017) "
  <a href="http://mural.maynoothuniversity.ie/14251/">
    Different Types of Language Contact in the Early Medieval Celtic Glosses
  </a>
  ", in:
  <em>
    Proceedings of the Harvard Celtic Colloquium
  </em>
  37 (2017), 33-46.
</p>
<p>
  Fangzhe Qiu, "
  <a href="http://mural.maynoothuniversity.ie/7787/">
    <em>
      Manuscript cont
    </em>
  </a>
  <a href="http://mural.maynoothuniversity.ie/7787/">
    <em>
      exts of early Irish law tracts: a case study on Uraicecht Becc
    </em>
  </a>
  ", in:
  <em>
    Proceedings of the Harvard Celtic Colloquium
  </em>
  35 (2016), 150&ndash;171.
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/8175/">
    <em>
      Metrical systems of Celtic traditions
    </em>
  </a>
  ", in: Robert Nedoma and Michael Schult (eds.),
  <em>
    Grammarians, Skalds and Rune Carvers I
  </em>
  . [= North-Western European Language Evolution 69/1], Amsterdam: John Benjamins 2016, 38&ndash;94. DOI:
  <a href="https://doi.org/10.1075/nowele.69.1.02sti">
    https://doi.org/10.1075/nowele.69.1.02sti
  </a>
</p>
<p>
  David Stifter, "
  <a href="http://mural.maynoothuniversity.ie/7073/">
    <em>
      The Language
    </em>
  </a>
  <a href="http://mural.maynoothuniversity.ie/7073/">
    <em>
      of the Poems of Blathmac
    </em>
  </a>
  ", in: P. &Oacute; Riain (ed.), The poems of Blathmac, son of C&uacute; Brettan: reassessments, London:
  <em>
    Irish Texts Society
  </em>
  2015, 47&ndash;103.
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  <strong>
    Reviews
  </strong>
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  David Stifter, Review: Ilona Tuomi, John Carey, Barbara Hillers and Ciar&aacute;n &Oacute; Gealbh&aacute;in (eds.),
  <em>
    Charms, Charmers and Charming in Ireland. From the Medieval to the Modern
  </em>
  [New Approaches to Celtic Religion and Mythology], Cardiff: University of Wales Press 2019,
  <em>
    Cambrian Medieval Celtic Studies
  </em>
  79 (2020), 81‒90.
</p>
<p>
  Fangzhe Qiu, Review: Gregory Toner and Xiwu Han (eds).
  <em>
    Language and Chronology: Text Dating by Machine Learning
  </em>
  (Leiden/Boston: Brill, 2019),
  <em>
    Celtica
  </em>
  32, 256‒272.
</p>
<p>
  Fangzhe Qiu,
  <a href="http://mural.maynoothuniversity.ie/12917/">
    <em>
      Review: Liam Breatnach (ed.),
    </em>
  </a>
  <a href="http://mural.maynoothuniversity.ie/12917/">
    <em>
      C&oacute;rus B&eacute;sgnai: An Old Irish Law Tract on the Church and Society
    </em>
  </a>
  [= Early Irish Law Series 7], Dublin: Dublin Institute for Advanced Studies 2017,
  <em>
    Speculum
  </em>
  94 (3) (2019), 811&ndash;813. DOI:
  <a href="https://dx.doi.org/10.1086/703898">
    https://dx.doi.org/10.1086/703898
  </a>
</p>
<p>
  David Stifter,
  <a href="http://mural.maynoothuniversity.ie/12889/">
    Review:
  </a>
  <a href="http://mural.maynoothuniversity.ie/12889/">
    Liam Breatnach (ed.),
  </a>
  <a href="http://mural.maynoothuniversity.ie/12889/">
    <em>
      C&oacute;rus B&eacute;sgnai. An Old Irish Law Tract on the Church and Society
    </em>
  </a>
  [= Early Irish Law Series 7], Dublin: Dublin Institute for Advanced Studies 2017,
  <em>
    Celtica
  </em>
  31 (2019), 298‒307.
</p>
<p>
  Fangzhe Qiu, Review: Gard B. Jenset and Barbara McGillivray,
  <em>
    Quantitative Historical Linguistics: A Corpus Framework
  </em>
  , Oxford: Oxford University Press, 2017, Linguist List 2018.
</p>
<p>
  Fangzhe Qiu,
  <a href="http://mural.maynoothuniversity.ie/12918/">
    Review: P&aacute;draig &Oacute; Riain (ed.), The poems of Blathmac son of C&uacute; Brettan: reassessments
  </a>
  , London: Irish Texts Society, 2015,
  <em>
    Peritia
  </em>
  28 (2017), 296&ndash;299. DOI:
  <a href="https://dx.doi.org/10.1484/j.perit.4.2018017">
    https://dx.doi.org/10.1484/j.perit.4.2018017
  </a>
</p>
<p>
  Fangzhe Qiu, Review: Elva Johnston, Literacy and Identity in Early Medieval Ireland, Woodbridge: Boydell Press 2013,
  <em>
    Cambrian Medieval Celtic Studies
  </em>
  71 (2016), 77&ndash;79.
</p>
<p>
  David Stifter, Review: Asya Pereltsvaig and Martin W. Lewis,
  <em>
    The Indo-European Controversy. Facts and Fallacies in Historical Linguistics
  </em>
  , Cambridge University Press 2015, in:
  <em>
    Linguist List
  </em>
  (July 8, 2016); URL:
  <a href="http://linguistlist.org/issues/27/27-2902.html">
    http://linguistlist.org/issues/27/27-2902.html
  </a>
</p>
<p>
  &nbsp;
</p>
<p>
  <strong>
    Other Publications
  </strong>
</p>
<p>
  &nbsp;
</p>
<p>
  David Stifter, &ldquo;
  <a href="https://issuu.com/euresearcher/docs/digital_magazine_eur1">
    In Search of Old Irish
  </a>
  &rdquo;,
  <em>
    EU Research
  </em>
  Spring 2019, 64&ndash;65.
</p>
<p>
  David Stifter, &ldquo;Featured Linguist: David Stifter. Why am I a linguist ‒ A tale of three spells&rdquo;, in:
  <em>
    Linguist List
  </em>
  (March 7, 2018); URL:
  <a href="https://blog.linguistlist.org/fund-drive/featured-linguist-david-stifter/">
    https://blog.linguistlist.org/fund-drive/featured-linguist-david-stifter/
  </a>
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  <strong>
    Talks
  </strong>
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  Elliott Lash, "Why the Minor Glosses Portion of CorPH is a Linguistic Database and not a Digital Edition",
  <em>
    Representing Texts: from Material to Digital Workshop
  </em>
  , Maynooth University, 21&ndash;22 January 2021, 21 Jnuary 2021.
</p>
<p>
  &nbsp;
</p>
<p>
  David Stifter, together with Bernhard Bauer, Elliott Lash, Fangzhe Qiu, Nora White, "Corpus PalaeoHibernicum ‒ a
  deeply annotated lexicographic database of Early Irish",
  <em>
    11th
  </em>
  <em>
    International Conference on Historical Lexicography and Lexicology
  </em>
  , La Rioja, June 2021.
</p>
<p>
  David Stifter, "The Old Irish healing charms in the Stowe Missal and the protective spell in the Karlsruhe book
  cover",
  <em>
    Medicine in the Medieval North Atlantic World
  </em>
  , Maynooth University, 13‒15 May 2021, 14 May 2021.
</p>
<p>
  David Stifter, "Presentation: Corpus PalaeoHibernicum",
  <em>
    Representing Texts: from Material to Digital,
  </em>
  workshop for AHRC-IRC Digital Humanities Networking grant &lsquo;A Digital Framework for the Medieval Gaelic
  World&rsquo;, 21‒22 January 2021, 22 January 2021.
</p>
<p>
  David Stifter, "Vocative for Nominative", Research Seminar of the Institute of Linguistic Research, Russian Academy of
  Sciences, St Petersburg, 8 December 2020.
</p>
<p>
  David Stifter, "The Dark Sides of the Moon and Every Other Heavenly Thing under the Sun in Medieval Irish Tradition",
  Mahindra Humanities Center Medieval Studies Seminar, Harvard University, 23 October 2020.
</p>
<p>
  David Stifter, "Pre-Roman Epigraphic Cultures: Gaulish and Italo-Celtic (and Ogam)",
  <em>
    I
  </em>
  <em>
    nternational Training School. The Epigraphic Text. Text, Theory, Practice. Computerization and Digitization
  </em>
  , Alteritas, Verona, 7‒11 September 2020, 8 September 2020.
</p>
<p>
  Bernhard Bauer, "ChronHib, CorPH and the Corphusator: building an Early Irish corpus", NUI Galway, 5 February 2020.
</p>
<p>
  Fangzhe Qiu, "The language of the Annals of Ulster - then and now", &Oacute; Cl&eacute;irigh Seminar, UCD, 22 November
  2019.
</p>
<p>
  David Stifter, "The stars look very different today", Early Irish Research Seminar, Maynooth University, 21 November
  2019.
</p>
<p>
  Bernhard Bauer, with Victoria Krivoshchekova, "Translating Glosses and Ideas in Irish Priscian Manuscripts",
  <em>
    T
  </em>
  <em>
    ion&oacute;l of the School of Celtic Studies
  </em>
  , Dublin Institute for Advanced Studies, 15 November 2019.
</p>
<p>
  Elliott Lash, "The rise and fall of the pseudo-applicative in Old Irish",
  <em>
    General Linguistics Colloquium
  </em>
  , Georg-August-Universit&auml;t G&ouml;ttingen, 29 January 2019.
</p>
<p>
  Fangzhe Qiu, "Revisiting the Nordic names in pre-12th century Irish annals",
  <em>
    T
  </em>
  <em>
    ion&oacute;l of the School of Celtic Studies
  </em>
  , Dublin Institute for Advanced Studies, 14 November 2019.
</p>
<p>
  David Stifter, "The stars look very different today",
  <em>
    Samhain agus Science
  </em>
  , Dublin Institute for Advanced Studies, 30 October 2019.
</p>
<p>
  Marco A. Aquino L&oacute;pez, From Sediment Chronologies to Early Irish dating,
  <em>
    Maynooth University Research Week Ignite Presentation Competition
  </em>
  , 22 October 2019.
</p>
<p>
  Fangzhe Qiu, "What is in a name? A guided tour to medieval Irish names",
  <em>
    Maynooth University Research Week Ignite Presentation Competition
  </em>
  , 22 October 2019 (winner of 1st prize).
</p>
<p>
  David Stifter, together with Marco Aquino-L&oacute;pez, "Statistical methods in the Old Irish language: A methods
  point of view of the ChronHib project",
  <em>
    Statistics in Historical Corpus Linguistics
  </em>
  , ChronHib workshop, Maynooth University, 4‒5 October 2019, 4 October 2019.
</p>
<p>
  Elliott Lash, "Oblique subjects with &lsquo;adverbial predicates&rsquo; in Old Irish",
  <em>
    The XVIth International Congress of Celtic Studies
  </em>
  , Bangor University, 22&ndash;26 July 2019, 22 July 2019.
</p>
<p>
  Bernhard Bauer, "How to tag an Old Irish word",
  <em>
    The XVIth International Congress of Celtic Studies
  </em>
  , Bangor University, 22&ndash;26 July 2019, 22 July 2019.
</p>
<p>
  Fangzhe Qiu, "The distribution of passive endings -
  <em>
    a(i)r
  </em>
  vs. -
  <em>
    tha(i)r
  </em>
  in Old Irish",
  <em>
    XVIth International Congress of Celtic Studies
  </em>
  , Bangor University, 22 July 2019.
</p>
<p>
  Bernhard Bauer, "Of seagulls and unmarried men: Strata in the Old Irish Priscian glosses",
  <em>
    XI International Conference on Corpus Linguistics
  </em>
  , Valencia, 17 May 2019.
</p>
<p>
  David Stifter, "The gravyty of dark matter &ndash; solving the riddles of
  <em>
    Fil and grian Glinne A&iacute;",
  </em>
  &lsquo;
  <em>
    To frighten off the rude and ignorant&rsquo;? Intentional obscuritas in Irish and Welsh literature (650&ndash;1650)
  </em>
  , Dublin Institute for Advanced Studies, 24&ndash;25 May 2019, 25 May 2019.
</p>
<p>
  Fangzhe Qiu, "Strategies in tracing linguistic variation in the Corpus of Old Irish texts",
  <em>
    XI International Conference on Corpus Linguistics
  </em>
  , Valencia, 17 May 2019.
</p>
<p>
  David Stifter, "The riddles of
  <em>
    Fil and gri&auml;n Glinne A&iacute;",
  </em>
  masterclass at the Oxford-Cambridge Celtic Colloquium 2019, Oxford University, 11 May 2019.
</p>
<p>
  David Stifter, "When is Variation a Dialect? The Case of Old Irish", O&rsquo;Donnell Lecture 2019, Oxford University,
  10 May 2019.
</p>
<p>
  Fangzhe Qiu, "Chronologicon Hibernicum: fr&aacute;ma&iacute;ocht dh&oacute;ch&uacute;la&iacute;och chun
  d&aacute;t&uacute; a dh&eacute;anamh ar fhorbairt&iacute; i dteanga na Sean-Ghaeilge",
  <em>
    Fiftieth L&eacute;achta&iacute; Cholm Cille
  </em>
  , Maynooth, 27 April 2019.
</p>
<p>
  David Stifter, "Insular Celtic and Ogham script",
  <em>
    Lenguas y escrituras paleoeuropeas: retos y perspectivas de estudio
  </em>
  . Coloquio internacional (AELAW), Escuela Espa&ntilde;ola de Historia y Arqueolog&iacute;a, Rome, 13‒15 March 2019, 14
  March 2019.
</p>
<p>
  David Stifter, "The Language of
  <em>
    C&iacute;n Dromma Snechtai"
  </em>
  , &lsquo;
  <em>
    A little remnant of the work of the ancients&rsquo;. 23 N 10: the Book of Ballycummin
  </em>
  . Conference, Royal Irish Academy, Dublin, 7‒8 March 2019, 8 March 2019. URL:
  <a
     href="https://soundcloud.com/the-royal-irish-academy/david-stifter?in=the-royal-irish-academy/sets/the-book-of-ballycummin-books-as-objects-in-the-sixteenth-century">
    https://soundcloud.com/the-royal-irish-academy/david-stifter?in=the-royal-irish-academy/sets/the-book-of-ballycummin-books-as-objects-in-the-sixteenth-century
  </a>
</p>
<p>
  David Stifter, "
  <em>
    Tria Dliged do D&aacute;na
  </em>
  &lsquo;By the Rules of your Art &ndash; DisARTiculating the ARTsy-FARTsy ARTistry of Poetry of
  <em>
    Fil and grian Glinne A&iacute;"
  </em>
  , Research Seminar, Queen&rsquo;s University Belfast, 30 November 2018.
</p>
<p>
  Fangzhe Qiu, David Stifter, Bernhard Bauer, Elliott Lash, Tiambo Ji, "Introducing Chronologicon Hibernicum",
  <em>
    EUROMED
  </em>
  <em>
    2018
  </em>
  , Nicosia, Cyprus, 2 November 2018.
</p>
<p>
  Elliott Lash, "The Etymology of the Old Irish question particle in and some notes on syntactic change",
  <em>
    Tion&oacute;l
  </em>
  2018, Dublin Institute for Advanced Studies, 2&ndash;3 November 2018, 2 Novemebr 2018.
</p>
<p>
  David Stifter, with Angelina Lavelle, "Alliterate by Number",
  <em>
    Tion&oacute;l of the School of Celtic Studies
  </em>
  , Dublin Institute for Advanced Studies, 2&ndash;3 November 2018, 2 November 2018.
</p>
<p>
  Elliott Lash (with Fangzhe Qiu, Bernhard Bauer, David Stifter, Tianbo Ji), "Chronologicon Hibernicum: A Probabilistic
  Chronological Framework for Dating Early Irish Language Developments and Literature&rdquo;,
  <em>
    EuroMed 18
  </em>
  , Nicosia, Cyprus, 29 October&ndash;3 November 2018, 31 October 2018.
</p>
<p>
  David Stifter, "Top-notch. Ogam and vernacular Irish literacy in Late Antiquity and the very early Middle Ages",
  <em>
    Latinization in the north-western provinces: language death and survival in the Roman and post-Roman world
  </em>
  . Workshop, All Souls College, Oxford, 17&ndash;18 September 2018, 18 September 2018.
</p>
<p>
  David Stifter, "Old Irish Etymology through the Ages",
  <em>
    Annual Meeting of the Henry Sweet Society for the History of Linguistic Ideas
  </em>
  , Maynooth University, 5&ndash;8 September 2018, 6 September 2018.
</p>
<p>
  David Stifter, with Fangzhe Qiu and Elliott Lash, "Introduction to Chronologicon Hibernicum",
  <em>
    10th Celtic Linguistics Conference
  </em>
  , Maynooth University, 4&ndash;5 September 2018, 4 September 2018.
</p>
<p>
  Elliott Lash (with David Stifter and Fangzhe Qiu), "The Chronologicon Hibernicum: Syntactic Parsing of Old Irish",
  <em>
    10th Celtic Linguistics Conference
  </em>
  , Maynooth University, 4&ndash;5 September 2018, 4 September 2018.
</p>
<p>
  David Stifter, "Old Irish 2.0: Tapping tech, stats (and old-fashioned human brain power) to date ancient languages",
  <em>
    Maynooth University Summer Soir&eacute;e
  </em>
  , Maynooth, 16 June 2018.
</p>
<p>
  Davis Stifter, "Celtic Maritime Vocabulary",
  <em>
    When Archaeology meets linguistics and genetics
  </em>
  , 3&ndash;4 May 2018, Universiteit G&ouml;teborg, 4 May 2018.
</p>
<p>
  David Stifter, "Chronologicon Hibernicum &ndash; Towards a Methodology of Dating Early Irish Language Developments",
  <em>
    The Dating of Old Norse and Celtic Texts
  </em>
  , University of Oslo, 22&ndash;23 March 2018, 22 March 2018.
</p>
<p>
  Elliott Lash, "Beyond Bergin&rsquo;s Construction: the Syntax of Displacement in Old Irish",
  <em>
    Early Irish &amp; Celtic Studies Research Seminar
  </em>
  , Maynooth University, 23 March 2017.
</p>
<p>
  Fangzhe Qiu, "When were the 6th- and 7th- century entries in the Annals of Ulster written? A quantitative approach",
  <em>
    Workshop on Irish Annals
  </em>
  , 22 September 2017.
</p>
<p>
  David Stifter, "The state of Celtic Studies in the German-speaking countries",
  <em>
    17th International Conference in Irish-German Studies. Irish-German Relations 2017: Between B&ouml;ll and Brexit
  </em>
  , Centre for German-Irish Studies, University of Limerick, 14&ndash;16 September 2017, 16 September 2017.
</p>
<p>
  David Stifter, "Ancient Celtic Epigraphy and its Interface with Classical Epigraphy",
  <em>
    XVth International Congress of Greek and Latin Epigraphy
  </em>
  , Universit&auml;t Wien, 25&ndash;30 August 2017.
</p>
<p>
  David Stifter, "What Can We Say about a Word?", plenary paper at the
  <em>
    2nd Symposium of the Societas Celtologica Europaea
  </em>
  , Bangor University/Wales, 31 July&ndash;2 August 2017, 1 August 2017.
</p>
<p>
  Elliott Lash, "Transitivity and Subject Positions in Old Irish: Sentence Final Subjects",
  <em>
    2nd European Symposium in Celtic Studies
  </em>
  , Bangor University, 31 July&ndash;3 August 2017, 1 August 2017.
</p>
<p>
  Fangzhe Qiu, "When were the 6th- and 7th- century entries in the Annals of Ulster written? A quantitative approach",
  <em>
    2nd European Symposium of Celtic Studies
  </em>
  , Bangor University/Wales, 1 August 2017.
</p>
<p>
  Fangzhe Qiu, "
  <em>
    Au&euml;
  </em>
  &lsquo;descendant&rsquo; and its descendants",
  <em>
    30th Irish Conference of Medievalists,
  </em>
  Maynooth University, 3 July 2017.
</p>
<p>
  Elliott Lash, "Transitivity and Subject Positions in Old Irish: Sentence Medial Subjects",
  <em>
    31st Irish Conference of Medievalists
  </em>
  , Maynooth University, 29 June&ndash;1 July 2017, 29 June 2017.
</p>
<p>
  David Stifter, "Words words words", 31st
  <em>
    Irish Conference of Medievalists
  </em>
  , Maynooth University, 29 June&ndash;1 July 2017, 29 June 2017.
</p>
<p>
  David Stifter, "The Celtic Epigraphic Evidence",
  <em>
    Runic Inscriptions and the Early History of the Germanic Languages
  </em>
  , University of Southern Denmark Odense, 14 March 2017.
</p>
<p>
  David Stifter, &lsquo;How to conceptualise numbers in Early Irish&hellip; and other languages&rsquo;,
  <em>
    Research Seminar of the Department for Mathematics and Statistics
  </em>
  , Maynooth University, 15 February 2017.
</p>
<p>
  Bernhard Bauer, "Observations on the date of Story of the abbot and the devil",
  <em>
    30th Irish Conference for Medievalists
  </em>
  , Maynooth University, 30 June&ndash;2 July 2016, 1 July 2016.
</p>
<p>
  Elliott Lash (with David Stifter and Fangzhe Qiu), "Introduction to the Chronologicon Hibernicum Project",
  <em>
    Tion&oacute;l
  </em>
  2016, Dublin Insititute for Advanced Studies, 19&ndash;21 November 2015, 9 November 2016.
</p>
<p>
  David Stifter, (With Fangzhe Qiu and Elliott Lash) "Chronologicon Hibernicum (ChronHib)",
  <em>
    Tion&oacute;l
  </em>
  2016, 17 November 2016.
</p>
<p>
  Elliott Lash, "Outlines of the syntax of subject&ndash;verb agreement in Early Irish",
  <em>
    Morphosyntactic change through corpora in German and beyond, Workshop 1: Verbs
  </em>
  , University of Cambridge, 15&ndash;16 September 2016, 15 September 2016.
</p>
<p>
  David Stifter, "The British Connections of the Poems of Blathmac", 30th
  <em>
    Irish Conference of Medievalists
  </em>
  , Maynooth University, 30 June&ndash;2 July 2016, 1 July 2016.
</p>
<p>
  Fangzhe Qiu, "Verses in &lsquo;The Chronicle of Ireland&rsquo;? some textual and linguistic evidence",
  <em>
    Eleanor Knott Memorial Conference
  </em>
  , TCD, 28 April 2016.
</p>
<p>
  David Stifter, "
  <em>
    Chronologicon Hibernicum", Imbolc
  </em>
  , Baile Bh&uacute;irne, 6 February 2016.
</p>
<p>
  <strong>
    Forthcoming publications
  </strong>
</p>
<p>
  David Stifter, Fangzhe Qiu, Marco A. Aquino-L&oacute;pez, Bernhard Bauer, Elliott Lash, Nora White,&nbsp;"Strategies
  in tracing linguistic variation in a corpus of Old Irish texts (
  <em>
    CorPH
  </em>
  )",
  <em>
    International Journal of Corpus Linguistics
  </em>
  .
</p>
<p>
  Fangzhe Qiu, "Verses in the &ldquo;Iona Chronicle&rdquo;? Textual and linguistic evidence", in: Christina Cleary,
  M&iacute;che&aacute;l Hoyne and Chantal Kobel (eds.),
  <em>
    Proceedings of the Eleanor Knott Memorial Conference
  </em>
  .
</p>
