<footer class="footer">
  <div *ngIf="route === 'home'"
       class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 col-lg pb-5">
      <div class="text-center">
        <a href="https://www.maynoothuniversity.ie"
           class=""
           target="_blank"
           rel="noopener noreferrer"><img
               src="../../../assets/img/team/cropped-Maynooth-University-Logo-colour-RGB-300dpi.png"
               class=""></a>
      </div>
    </div>
    <div class="col-12 col-sm pb-5">
      <div class="text-center">
        <a href="https://ec.europa.eu"
           class=""
           target="_blank"
           rel="noopener noreferrer"><img src="../../../assets/img/team/cropped-europe-flag.png"
               class=""></a>
      </div>
    </div>
    <div class="col-12 col-sm pb-5">
      <div class="text-center">
        <a href="https://erc.europa.eu"
           class=""
           target="_blank"
           rel="noopener noreferrer"><img src="../../../assets/img/team/cropped-erc_high_res.png"
               class=""></a>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-12 justify-content-center text-center">
      <span>
        <small>
          Stifter et al. 2021 David Stifter, Bernhard Bauer, Elliott Lash, Fangzhe Qiu, Nora White, Siobhán Barrett,
          Aaron Griffith, Romanas Bulatovas, Francesco Felici, Ellen Ganly, Truc Ha Nguyen, Lars Nooij,
          <br class="d-none d-xl-inline">
          Corpus PalaeoHibernicum (CorPH) v1.0, 2021, online at http://chronhib.maynoothuniversity.ie.
        </small>
      </span>
    </div>
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; 2020 - {{ currentDate | date: 'yyyy' }}
        <a href="https://www.maynoothuniversity.ie/chronologiconhibernicum"
           class="font-weight-bold ml-1 text-body"
           target="_blank">ChronHib Maynooth University</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="#"
             class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/chronhib-MU/Chronhib-Website/blob/master/LICENSE"
             class="nav-link"
             target="_blank">MIT License</a>
        </li>
      </ul>
    </div>

  </div>
</footer>
