#scrollSpyContainer {
  position: relative;
}
.section {
  height: max-content;
  min-height: 90vh;
}
#scrollSpy {
  height: 90vh;
  overflow: auto;
  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
