<nav class="navbar navbar-vertical navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <div class="toggler">
      <button
        class="navbar-toggler ml-2 mr-2 p-0"
        type="button"
        (click)="isCollapsed = !isCollapsed"
        aria-controls="sidenav-collapse-main"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="h4 mb-0 text-black text-uppercase inline-block">{{ getTitle() }}</span>
    </div>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/Logo1.png" class="navbar-brand-img" alt="ChronHib Logo" />
    </a>
    <!-- User -->
    <ul class="nav align-items-center">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <!-- <a class="nav-link nav-link-icon" role="button" ngbDropdownToggle>
          <i class="ni ni-bell-55 text-default"></i>
        </a> -->
        <a class="nav-link nav-link-icon" role="button" (click)="open(search, '', '')">
          Search <i class="fa fa-search"></i>
        </a>
        <!-- Search Modal -->
        <ng-template #search let-c="close" let-d="dismiss">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title-default">Search</h3>
              <button
                type="button"
                class="close hover-danger"
                data-dismiss="modal"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <ngb-tabset
              [justify]="'center'"
              class="custom-tab-content flex-column flex-md-row"
              type="pills"
              #searchTabset
            >
              <!-- Tables & Columns Tab -->
              <ngb-tab id="tableColumns">
                <ng-template ngbTabTitle><b>Tables & Columns</b></ng-template>
                <ng-template ngbTabContent>
                  <div class="modal-body">
                    <form role="form" [formGroup]="tableData.searchForm" (ngSubmit)="searchTabset.select('conditions')">
                      <div
                        formArrayName="tableColumns"
                        *ngFor="let column of tableData.searchForm.get('tableColumns')['controls']; let i = index"
                      >
                        <div [formGroupName]="i" class="my-2">
                          <div class="row">
                            <div class="col-md-4">
                              <h3>Table:</h3>
                              <div class="form-group">
                                <select class="form-control" formControlName="table" (change)="onItemSelect($event, i)">
                                  <option
                                    [value]="table | uppercase"
                                    *ngFor="let table of excludePreviousTableOptions(i)"
                                  >
                                    {{ table | uppercase }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <h3>
                                Columns:
                                <button
                                  *ngIf="i > 0 || tableData.searchForm.get('tableColumns')['controls'].length > 1"
                                  type="button"
                                  class="close danger"
                                  aria-label="Close"
                                  (click)="removeFormGroup('tableColumns', i)"
                                >
                                  <span aria-hidden="true">×</span>
                                </button>
                              </h3>
                              <div class="form-group">
                                <!-- <ng-select
                                  [items]="
                                    mapSearchData(
                                      tableData?.allHeaders[
                                        tableData.searchForm
                                          .get('tableColumns')
                                          ['controls'][i].controls.table.value.toLowerCase()
                                      ]
                                    )
                                  "
                                  bindLabel="name"
                                  bindValue="value"
                                  [multiple]="true"
                                  placeholder="Select columns"
                                  clearAllText="Clear"
                                  [searchable]="true"
                                  [closeOnSelect]="false"
                                  formControlName="column"
                                >
                                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
                                    {{ item.name }}
                                  </ng-template>
                                </ng-select> -->
                                <ng-select
                                  [multiple]="true"
                                  placeholder="Select columns"
                                  clearAllText="Clear"
                                  [searchable]="true"
                                  [closeOnSelect]="false"
                                  formControlName="column"
                                >
                                  <ng-option
                                    [value]="column"
                                    *ngFor="
                                      let column of tableData.allHeaders[
                                        tableData.searchForm
                                          .get('tableColumns')
                                          ['controls'][i].controls.table.value.toLowerCase()
                                      ]
                                    "
                                  >
                                    <!-- <input id="item-{{ index }}" type="checkbox" /> -->
                                    {{ column.replaceAll('_', ' ') }}
                                  </ng-option>
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        *ngIf="tableData.searchForm.get('tableColumns')['controls'].length < 4"
                        type="button"
                        class="btn btn-secondary"
                        value="Add More Tables & Columns"
                        (click)="addFormGroup('tableColumns')"
                      >
                        Add More Tables & Columns
                      </button>
                      <div class="text-right">
                        <button
                          type="submit"
                          class="btn btn-primary mt-4"
                          value="Next Step"
                          [disabled]="tableData.searchForm.get('tableColumns').invalid"
                        >
                          Next Step: Conditions
                        </button>
                      </div>
                    </form>
                  </div>
                  <!-- <div class="modal-footer">
              {{ 'Final Query: \n' + finalQuery }}
            </div> -->
                </ng-template>
              </ngb-tab>
              <!-- Conditions Tab -->
              <ngb-tab id="conditions">
                <ng-template ngbTabTitle><b>Conditions</b></ng-template>
                <ng-template ngbTabContent>
                  <div class="modal-body">
                    <form role="form" [formGroup]="tableData.searchForm" (ngSubmit)="searchTabset.select('options')">
                      <div
                        formArrayName="conditions"
                        *ngFor="let column of tableData.searchForm.get('conditions')['controls']; let i = index"
                      >
                        <div [formGroupName]="i" class="my-2">
                          <!-- Operator Row -->
                          <div class="row justify-content-center" *ngIf="i > 0">
                            <div class="col-4">
                              <div class="form-group">
                                <select class="form-control" formControlName="operator">
                                  <option [value]="'AND'">AND</option>
                                  <option [value]="'OR'">OR</option>
                                  <option [value]="'NOT'">NOT</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <h3>
                            {{ 'Condition ' + (i + 1) }}
                          </h3>
                          <div class="row">
                            <div class="col-md-6">
                              <h4>Table:</h4>
                              <div class="form-group">
                                <!-- <input class="form-control" formControlName="table" /> -->
                                <select class="form-control" formControlName="table">
                                  <option [value]="table.toUpperCase()" *ngFor="let table of tableData.tables.names">
                                    {{ table | uppercase }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <h4>
                                Column:
                                <button
                                  *ngIf="i > 0 || tableData.searchForm.get('conditions')['controls'].length > 1"
                                  type="button"
                                  class="close danger"
                                  aria-label="Close"
                                  (click)="removeFormGroup('conditions', i)"
                                >
                                  <span aria-hidden="true">×</span>
                                </button>
                              </h4>
                              <div class="form-group">
                                <!-- <input class="form-control" formControlName="column" /> -->
                                <select class="form-control" formControlName="column">
                                  <option
                                    [value]="column"
                                    *ngFor="
                                      let column of tableData.allHeaders[
                                        tableData.searchForm
                                          .get('conditions')
                                          ['controls'][i].controls.table.value.toLowerCase()
                                      ]
                                    "
                                  >
                                    {{ column.replaceAll('_', ' ') }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <select class="form-control" formControlName="comparator">
                                  <option [value]="'contains'">contains</option>
                                  <option [value]="'starts with'">starts with</option>
                                  <option [value]="'ends with'">ends with</option>
                                  <option [value]="'LIKE'">like</option>
                                  <option [value]="'='">equal to</option>
                                  <option [value]="'!='">not equal to</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <ng-container
                                  *ngIf="
                                    columnSearchArray.includes(
                                      tableData.searchForm.get('conditions')['controls'][i].controls.column.value
                                    );
                                    else comparatorElse
                                  "
                                >
                                  <div class="" ngbDropdown>
                                    <input
                                      id="navbarDropdownMenuLink"
                                      class="form-control dropdown-toggle"
                                      formControlName="comparatorVal"
                                      autocomplete="off"
                                      type="text"
                                      [(ngModel)]="
                                        tableData.searchForm.get('conditions')['controls'][i].controls.comparatorVal
                                          .value
                                      "
                                      ngbDropdownToggle
                                    />
                                    <ul
                                      [hidden]="!comparatorSearch(i).length"
                                      aria-labelledby="navbarDropdownMenuLink"
                                      ngbDropdownMenu
                                    >
                                      <li *ngFor="let item of comparatorSearch(i)">
                                        <a
                                          class="dropdown-item"
                                          href="javascript:void(0)"
                                          (click)="
                                            tableData.searchForm.get('conditions')['controls'][
                                              i
                                            ].controls.comparatorVal.value = item
                                          "
                                        >
                                          {{ item }}
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </ng-container>
                                <ng-template #comparatorElse>
                                  <input class="form-control" formControlName="comparatorVal" type="text" />
                                </ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        value="Add More Conditions"
                        (click)="addFormGroup('conditions')"
                      >
                        Add More Conditions
                      </button>
                      <div class="text-right">
                        <button
                          type="submit"
                          class="btn btn-primary mt-4"
                          value="Next Step"
                          (click)="
                            tableData.searchForm.get('options')['controls']['noConditions'].value = false; (true)
                          "
                          [disabled]="tableData.searchForm.get('conditions').invalid"
                        >
                          Next Step: Options
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary mt-4"
                          value="No Conditions"
                          (click)="tableData.searchForm.get('options')['controls']['noConditions'].value = true"
                        >
                          No Conditions
                        </button>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </ngb-tab>
              <!-- Options Tab -->
              <ngb-tab id="options">
                <ng-template ngbTabTitle><b>Options</b></ng-template>
                <ng-template ngbTabContent>
                  <div class="modal-body">
                    <form role="form" [formGroup]="tableData.searchForm" (ngSubmit)="searchTable(c)">
                      <div formGroupName="options" class="my-2">
                        <div class="row">
                          <div class="col-6 align-content-left">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox mb-3">
                                <input
                                  class="custom-control-input"
                                  type="checkbox"
                                  id="conditionsCheck"
                                  formControlName="noConditions"
                                  #noConditionsInput
                                />
                                <label class="custom-control-label" for="conditionsCheck"> No Conditions? </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6 align-content-left">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox mb-3">
                                <input
                                  class="custom-control-input"
                                  type="checkbox"
                                  id="duplicateCheck"
                                  (change)="(true)"
                                  formControlName="duplicateRows"
                                />
                                <label class="custom-control-label" for="duplicateCheck"> See duplicate rows? </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6 align-content-left">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox mb-3">
                                <input
                                  class="custom-control-input"
                                  (change)="(false)"
                                  (click)="tableData.searchForm.get('options')['controls']['limit'].value = 0"
                                  id="limitCheck"
                                  type="checkbox"
                                  #limitChecker
                                />
                                <label class="custom-control-label" for="limitCheck"> Limit number of results? </label>
                                <input
                                  class="form-control"
                                  *ngIf="limitChecker.checked"
                                  type="number"
                                  min="0"
                                  formControlName="limit"
                                  #limitInput
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="button" class="btn btn-danger mt-4" value="Search" (click)="resetForm()">
                          Clear
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary mt-4"
                          value="Search"
                          [disabled]="tableData.searchForm.invalid"
                        >
                          Search Table
                        </button>
                      </div>
                    </form>
                  </div>
                  <!-- <div class="modal-footer">
              {{ 'Final Query: \n' + finalQuery }}
            </div> -->
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </ng-template>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/img/theme/team-4-800x800.jpg" />
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider" [hidden]="!authService.authenticated"></div>
          <a (click)="authService.logOut()" class="dropdown-item pointer" [hidden]="!authService.authenticated">
            <i class="ni ni-lock-circle-open text-marigold"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/Logo1.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <!-- <form class="mt-4 mb-3">
        <div class="input-group input-group-rounded input-group-merge">
          <input
            type="search"
            class="form-control form-control-rounded form-control-prepended"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form> -->
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
          [ngClass]="{ 'd-none': authService.authenticated && menuItem.class === 'auth' }"
        >
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{ menuItem.icon }}"></i>
            {{ menuItem.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
