<nav class="navbar navbar-vertical navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <div class="toggler">
      <button
        class="navbar-toggler ml-2 mr-2 p-0"
        type="button"
        (click)="isCollapsed = !isCollapsed"
        aria-controls="sidenav-collapse-main"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="h4 mb-0 text-black text-uppercase inline-block">{{ getTitle() }}</span>
    </div>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/Logo1.png" class="navbar-brand-img" alt="ChronHib Logo" />
    </a>
    <!-- User -->
    <ul class="nav align-items-center">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <!-- <a class="nav-link nav-link-icon" role="button" ngbDropdownToggle>
          <i class="ni ni-bell-55 text-default"></i>
        </a> -->
        <a class="nav-link nav-link-icon" role="button" (click)="open(search, '', '')">
          Search <i class="fa fa-search"></i>
        </a>
        <!-- Search Modal -->
        <ng-template #search let-c="close" let-d="dismiss">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title-default">Search</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form" [formGroup]="searchForm" (ngSubmit)="this.searchTable(c())">
                <div
                  formArrayName="columns"
                  *ngFor="let column of searchForm.get('columns')['controls']; let i = index"
                >
                  <b *ngIf="i > 0">
                    {{ i + ':' }}
                  </b>

                  <div [formGroupName]="i" class="mb-2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <!-- <input class="form-control" formControlName="table" /> -->
                          <select class="form-control" formControlName="table" required>
                            <option [value]="table.toUpperCase()" *ngFor="let table of this.tableData.tables.names">
                              {{ table | uppercase }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <!-- <input class="form-control" formControlName="column" /> -->
                          <select multiple class="form-control" formControlName="column">
                            <option value="*" [selected]="'*'">*</option>
                            <option
                              [value]="column"
                              *ngFor="
                                let column of this.tableData.allHeaders[
                                  searchForm.get('columns')['controls'][i].controls.table.value.toLowerCase()
                                ]
                              "
                            >
                              {{ column }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="i !== 0">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-control" formControlName="comparator">
                            <option value="contains" [selected]="'contains'">contains</option>
                            <option value="starts with">starts with</option>
                            <option value="ends with">ends with</option>
                            <option value="LIKE">like</option>
                            <option value="=">equal to</option>
                            <option value="!=">not equal to</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" formControlName="comparatorVal" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-secondary mt-4" value="Add Next" (click)="addNext()">
                  Add Next
                </button>
                <!-- <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox" />
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div> -->
                <div class="text-center">
                  <!-- <button type="button" class="btn btn-primary mt-4" value="Test" (click)="test()">Check</button> -->
                  <button type="submit" class="btn btn-primary mt-4" value="Search" [disabled]="searchForm.invalid">
                    Search Table
                  </button>
                </div>
              </form>
            </div>
          </div>
        </ng-template>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0)">Action</a>
          <a class="dropdown-item" href="javascript:void(0)">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="./assets/img/theme/team-4-800x800.jpg" />
            </span>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>My profile</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Settings</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-calendar-grid-58"></i>
            <span>Activity</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/user-profile']" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Support</span>
          </a>
          <div class="dropdown-divider" [hidden]="!authService.authenticated"></div>
          <a (click)="authService.logOut()" class="dropdown-item pointer" [hidden]="!authService.authenticated">
            <i class="ni ni-lock-circle-open text-marigold"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/Logo1.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <!-- <form class="mt-4 mb-3">
        <div class="input-group input-group-rounded input-group-merge">
          <input
            type="search"
            class="form-control form-control-rounded form-control-prepended"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form> -->
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li
          *ngFor="let menuItem of menuItems"
          class="{{ menuItem.class }} nav-item"
          [ngClass]="{ 'd-none': authService.authenticated && menuItem.class === 'auth' }"
        >
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{ menuItem.icon }}"></i>
            {{ menuItem.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
