<div class="header bg-gradient-image py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0"
         y="0"
         viewBox="0 0 2560 100"
         preserveAspectRatio="none"
         version="1.1"
         xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="header-shape-gradient"
                        x2="0.35"
                        y2="1"
                        gradientTransform="rotate(291.75)">
          <stop offset="0%"
                stop-color="var(--color-stop)" />
          <stop offset="13%"
                stop-color="var(--color-stop)" />
          <stop offset="100%"
                stop-color="var(--color-bot)" />
        </linearGradient>
      </defs>
      <polygon class="gradient-bg"
               points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent px-lg-5 py-lg-5">
          <div class="text-center mb-4">
            <b>Register</b>
          </div>
          <form role="form"
                [formGroup]="registerForm"
                (ngSubmit)="this.authService.register(registerForm)">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group"
                     [ngClass]="{
                    'has-danger': rF['firstName'].invalid && (rF['firstName'].dirty || rF['firstName'].touched),
                    'has-success': rF['firstName'].touched || rF['firstName'].dirty
                  }">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control"
                           formControlName="firstName"
                           placeholder="First Name"
                           type="text"
                           required />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"
                     [ngClass]="{
                    'has-danger': rF['lastName'].invalid && (rF['lastName'].dirty || rF['lastName'].touched),
                    'has-success': rF['lastName'].touched || rF['lastName'].dirty
                  }">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control"
                           formControlName="lastName"
                           placeholder="Last Name"
                           type="text"
                           required />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group"
                 [ngClass]="{
                'has-danger': rF['email'].invalid && (rF['email'].dirty || rF['email'].touched),
                'has-success': rF['email'].touched || rF['email'].dirty
              }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control"
                       formControlName="email"
                       placeholder="Email"
                       type="email"
                       required />
              </div>
            </div>
            <div class="form-group"
                 [ngClass]="{
                'has-danger': rF['password'].invalid && (rF['password'].dirty || rF['password'].touched),
                'has-success': rF['password'].touched || rF['password'].dirty
              }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control"
                       formControlName="password"
                       placeholder="Password"
                       type="password"
                       required />
              </div>
            </div>
            <div class="form-group"
                 [ngClass]="{
                'has-danger':
                  rF['confirmPassword'].invalid && (rF['confirmPassword'].dirty || rF['confirmPassword'].touched),
                'has-success': rF['confirmPassword'].touched || rF['confirmPassword'].dirty
              }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control"
                       formControlName="confirmPassword"
                       placeholder="Confirm Password"
                       type="password"
                       required />
              </div>
            </div>
            <div class="form-group"
                 [ngClass]="{
                'has-danger': rF['accessCode'].invalid && (rF['accessCode'].dirty || rF['accessCode'].touched),
                'has-success': rF['accessCode'].touched || rF['accessCode'].dirty
              }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control"
                       formControlName="accessCode"
                       placeholder="Access Code"
                       type="text"
                       required />
              </div>
            </div>
            <div class="text-muted font-italic text-center">
              <small>
                Failed Attempts: <span class="text-danger font-weight-600">{{ authService.attempts + '/3' }}</span>
              </small>
            </div>
            <div class="text-center mt-2"
                 [hidden]="authService.attempts === 0">
              <small>
                <span class="text-danger">
                  <span></span>
                  <span [hidden]="blocked(authService.attempts)">Invalid Access Code.</span>
                  You have failed {{ authService.attempts > 1 ? authService.attempts + ' times' : 'once' }}.
                  <span [hidden]="!blocked(authService.attempts)">Please try again in
                    {{ authService.timeLeftString }}.</span>
                </span>
              </small>
            </div>
            <!-- <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox" />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div> -->
            <div class="text-center">
              <button type="submit"
                      class="btn btn-primary mt-4"
                      value="Register"
                      [disabled]="blocked(authService.attempts) || registerForm.invalid">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-2 flex-row-reverse">
        <div class="col-6 text-right">
          <a [routerLink]="['/login']"
             class="text-lighter"><small>Already have an account? Login</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
